<!--The content below is only a placeholder and can be replaced.-->


<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <div class="row">

    <div class="col-sm-3">

      <!-- Overlay Layers -->
      <div class="form-group row" *ngIf="overlays?.length > 0">
        <label class="col-12 col-form-label">Overlay Layers</label>
        <div class="col-11 offset-1" *ngFor="let layer of overlays; let i = index;">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"
                     [name]="layer.id"
                     [(ngModel)]="overlays[i].enabled"
                     (ngModelChange)="apply(layer)">
              {{layer.name}}
            </label>
          </div>
        </div>
      </div>

      <form>
        <div class="form-group">
          <input class="form-control" placeholder="Search place" type="text" autocomplete="off" id="searchText"
                 (change)="search(searchText)" [(ngModel)]="searchText" name="searchText">

        </div>
      </form>

      <ul style="max-height:300px;overflow: scroll" class="list-group">
        <li class="list-group-item list-group-item-primary"
            *ngFor="let item of searchResults"
            (click)="addMarker(item)">
          {{item.label | json}}
        </li>
      </ul>

    </div>

    <div class="col-sm-9 card-body">

      <!--<div leaflet style="height: 300px;"-->
           <!--[leafletOptions]="options"-->
           <!--[leafletBaseLayers]="baseLayers"-->
           <!--[leafletLayers]="markers"-->
           <!--[leafletLayersControlOptions]="layersControlOptions">-->
      <!--</div>-->


      <div leaflet style="height: 300px;"
           [leafletOptions]="options"
           [leafletLayers]="layers"
           [leafletLayersControl]="layersControlOptions">
      </div>

    </div>


  </div>

</div>
